<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net, Version=1.2.10.0, Culture=neutral, PublicKeyToken=c28cdb26c445c888"/>
  </configSections>
  <log4net>
    <!-- Set levels to DEBUG for extended logging information -->
    <appender name="RollingFile" type="Sdl.Desktop.Platform.Implementation.Services.LocalUserAppDataFileAppender, Sdl.Desktop.Platform, Version=3.0.0.0, Culture=neutral, PublicKeyToken=c28cdb26c445c888">
    </appender>

    <!-- output to debug string -->
    <appender name="OutputDebug" type="log4net.Appender.OutputDebugStringAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline"/>
      </layout>
    </appender>

    <root>
      <level value="INFO"/>
      <appender-ref ref="RollingFile"/>
      <appender-ref ref="OutputDebug"/>
    </root>
  </log4net>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
